*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.main{
    display: flex;
    align-items: center;
}




.content{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}






.scene{
    position: relative;
    width: 30%;
    height: 100vh;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.scene .rocket{
    position: relative;
    animation: alternate 0.2s ease infinite;
    animation-name: animate;
    right: 40%;
    bottom: 5%;

}


@keyframes animate {
    
    0%, 100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
}



.scene .rocket::before{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
    
}



.scene .rocket::after{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
    filter: blur(20px);
}


.scene i {
    position:absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
    animation-name: animateStars;
    
}


@keyframes animateStars {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(200vh);
    }
    
}




.box{
    position: relative;
    width: 700px;
    height: 620px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
    
    
}


.box::before{
    content: '';
    position: absolute;
    width: 700px;
    height: 920px;
    top: -20%;
    right: 48%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animateBorder 6s linear infinite;
    
}


.box::after{
    content: '';
    position: absolute;
    width: 700px;
    height: 820px;
    top: -20%;
    right: 48%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animateBorder 6s linear infinite;
    animation-delay: -3s;
    
}











@keyframes animateBorder {

    0%{
        transform: rotate(0deg);

    }
    
    100%{
        transform: rotate(360deg);
    }
}


.tableBot{
    position: absolute;
    z-index: 10;
    inset: 3px;
    background: #28292d;

}



.content-row {
    margin-bottom: 1em;
    
}


.summary-toolbox {

    
    text-align: center;
    position: relative;
    

}



#summaryRunButton{

    
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 0.313em;
    color: #000000;
    padding: 0em;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
    margin-top: 20px;
    background: rgb(240, 234, 248);
    
    

}



#summaryStopButton{

    
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 0.313em;
    color: #000000;
    padding: 0em;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
    margin-top: 20px;
    background: rgb(240, 234, 248);
    
    

}

#iconstop{
    padding-bottom: 5%;
}



#iconplay{
    padding-top: 10%;
    margin-left: 6%;
    

    
}



.cardbot1{

    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    bottom: 220px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}


.cardbot1:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}



.cardbot2{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    bottom: 35px;
    right: 55px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}


.cardbot2:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}


.cardbot3{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    bottom: 120px;
    left: 30px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}


.cardbot3:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}


.cardbot4{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    top: 100px;
    right: 80px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}



.cardbot4:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}


.cardbot5{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    bottom: 230px;
    left: 20px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}



.cardbot5:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}


.cardbot6{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    right: 80px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}



.cardbot6:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}



.cardbot7{
    
    position: relative;
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    top: 200px;
    right: 140px;
    cursor: pointer;
    opacity: 0.2;
    transition: 1s;
    
    
}



.cardbot7:hover{

    opacity: 1;
    background: #1c1c1c;
    
    
    
}



.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    justify-items: center;
}
