<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bots | Plataforma de Operações</title>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/bots.css">

    
    
</head>
<body class="bg">


    <%- include('./menu.ejs') %>
    
    <%- include('./header.ejs') %>

   

         <div class="div-centerbody">
            
      
            <div class="wrapper">
            <figure class="card">
                <img src="/styles/imagensnever/teste.jpg" alt="house">
            
    
    
            <figcaption>
                <br>
                <h2 id="titlecard">ROBÔ - CORAL</h2>
                
            </figcaption>
            <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
        </figure>
    
        <div id="cardDetalhes" class="card-details">
            <h2 class="card__type">Plano Blaze</h2>
            <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
            <div class="card__feactures">
                <p class="freacture">Robô</p>
                <p class="freacture">Sinais Telegram</p>
                <p class="freacture">Gerenciamento</p>
                <p class="freacture">Suporte</p>
            </div>
            <button class="buy-btn">Comprar</button>
        </div>
    
        </div>



        <div class="wrapper">
            <figure class="card">
                <img src="/styles/imagensnever/teste.jpg" alt="house">
            
    
    
            <figcaption>
                <br>
                <h2 id="titlecard">ROBÔ - DIAMANTE</h2>
                
            </figcaption>
            <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
        </figure>
    
        <div id="cardDetalhes" class="card-details">
            <h2 class="card__type">Plano Blaze</h2>
            <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
            <div class="card__feactures">
                <p class="freacture">Robô</p>
                <p class="freacture">Sinais Telegram</p>
                <p class="freacture">Gerenciamento</p>
                <p class="freacture">Suporte</p>
            </div>
            <button class="buy-btn">Comprar</button>
        </div>
    
        </div>




        <div class="wrapper">
            <figure class="card">
                <img src="/styles/imagensnever/teste.jpg" alt="house">
            
    
    
            <figcaption>
                <br>
                <h2 id="titlecard">ROBÔ - SAFIRA</h2>
                
            </figcaption>
            <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
        </figure>
    
        <div id="cardDetalhes" class="card-details">
            <h2 class="card__type">Plano Blaze</h2>
            <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
            <div class="card__feactures">
                <p class="freacture">Robô</p>
                <p class="freacture">Sinais Telegram</p>
                <p class="freacture">Gerenciamento</p>
                <p class="freacture">Suporte</p>
            </div>
            <button class="buy-btn">Comprar</button>
        </div>
    
        </div>



        

            <div class="wrapper">
                <figure class="card">
                        <img src="/styles/imagensnever/teste.jpg" alt="house">



                        <figcaption>
                            <br>
                            <h2 id="titlecard">ROBÔ - ESMERALDA</h2>
                        
                        </figcaption>
                        <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
                </figure>

                <div id="cardDetalhes" class="card-details">
                    <h2 class="card__type">Plano Blaze</h2>
                    <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                    <div class="card__feactures">
                        <p class="freacture">Robô</p>
                        <p class="freacture">Sinais Telegram</p>
                        <p class="freacture">Gerenciamento</p>
                        <p class="freacture">Suporte</p>
                    </div>
                    <button class="buy-btn">Comprar</button>
                </div>

            </div>


            <div class="wrapper">
                <figure class="card">
                        <img src="/styles/imagensnever/teste.jpg" alt="house">



                        <figcaption>
                            <br>
                            <h2 id="titlecard">ROBÔ - OURO</h2>
                        
                        </figcaption>
                        <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
                </figure>

                <div id="cardDetalhes" class="card-details">
                    <h2 class="card__type">Plano Blaze</h2>
                    <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                    <div class="card__feactures">
                        <p class="freacture">Robô</p>
                        <p class="freacture">Sinais Telegram</p>
                        <p class="freacture">Gerenciamento</p>
                        <p class="freacture">Suporte</p>
                    </div>
                    <button class="buy-btn">Comprar</button>
                </div>

            </div>


            <div class="wrapper">
                <figure class="card">
                        <img src="/styles/imagensnever/teste.jpg" alt="house">



                        <figcaption>
                            <br>
                            <h2 id="titlecard">ROBÔ - PRATA</h2>
                        
                        </figcaption>
                        <button class="det-btn" onclick="viewDetalhe()">Acessar</button>
                </figure>

                <div id="cardDetalhes" class="card-details">
                    <h2 class="card__type">Plano Blaze</h2>
                    <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                    <div class="card__feactures">
                        <p class="freacture">Robô</p>
                        <p class="freacture">Sinais Telegram</p>
                        <p class="freacture">Gerenciamento</p>
                        <p class="freacture">Suporte</p>
                    </div>
                    <button class="buy-btn">Comprar</button>
                </div>

            </div>


            <div class="wrapper">
                <figure class="card">
                        <img src="/styles/imagensnever/blazeimag.jpg" alt="house">



                        <figcaption>
                            <br>
                            <h2 id="titlecard">BLAZE</h2>
                        
                        </figcaption>
                        <button class="det-btn" onclick="viewDetalhe()">Em Breve</button>
                </figure>

                <div id="cardDetalhes" class="card-details">
                    <h2 class="card__type">Plano Blaze</h2>
                    <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                    <div class="card__feactures">
                        <p class="freacture">Robô</p>
                        <p class="freacture">Sinais Telegram</p>
                        <p class="freacture">Gerenciamento</p>
                        <p class="freacture">Suporte</p>
                    </div>
                    <button class="buy-btn">Comprar</button>
                </div>

            </div>


            <div class="wrapper">
                <figure class="card">
                        <img src="/styles/imagensnever/Bet365.png" alt="house">



                        <figcaption>
                            <br>
                            <h2 id="titlecard">BET365</h2>
                        
                        </figcaption>
                        <button class="det-btn" onclick="viewDetalhe()">Em Breve</button>
                </figure>

                <div id="cardDetalhes" class="card-details">
                    <h2 class="card__type">Plano Blaze</h2>
                    <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                    <div class="card__feactures">
                        <p class="freacture">Robô</p>
                        <p class="freacture">Sinais Telegram</p>
                        <p class="freacture">Gerenciamento</p>
                        <p class="freacture">Suporte</p>
                    </div>
                    <button class="buy-btn">Comprar</button>
                </div>

            </div>


    </div>



    </div>
    
   
    
</main>
        
             
        
  



</body>
</html>
