<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bots | Plataforma de Operações</title>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/bots.css">

    
    
</head>
<body class="bg">


    <%- include('./menu.ejs') %>
    
    <%- include('./header.ejs') %>


    <div class="banner">

        <video autoplay muted loop>

            <source src="/styles/imagensnever/world-map-intro-motion-graphics-animation-kritr.mp4">

        </video>

    


   <main>

         <div class="div-centerbody">
            
      
                    <div class="wrapper1">
                            <figure class="card">
                                <img src="/styles/imagensnever/teste.jpg" alt="house">
                        
                
                    
                                <figcaption>
                                    <br>
                                    <h2 id="titlecard">Inteligência Artificial</h2>
                                
                                </figcaption>
                                <div class="btnBuy">
                                    <a href="/NLBot" target="_blank"><button class="det-btn">Acessar</button></a>
                                </div>
                            </figure>
                
                            <div id="cardDetalhes" class="card-details">
                                <h2 class="card__type">Plano Blaze</h2>
                                <p class="card__price"><sup>R$</sup>447,97<sub>/Ano</sub></p>
                                <div class="card__feactures">
                                    <p class="freacture">Robô</p>
                                    <p class="freacture">Sinais Telegram</p>
                                    <p class="freacture">Gerenciamento</p>
                                    <p class="freacture">Suporte</p>
                                </div>
                                <button class="buy-btn">Comprar</button>
                            </div>
            
                    </div>



       


                    <div class="wrapper2">
                        <figure class="card">
                                <img src="/styles/imagensnever/blazeimag.jpg" alt="house">



                                <figcaption>
                                    <br>
                                    <h2 id="titlecard">BLAZE</h2>
                                
                                </figcaption>
                                <div class="btnBuy">
                                    <button class="det-btn" onclick="viewDetalhe()">Em Breve</button>
                                </div>
                        </figure>

                        <div id="cardDetalhes" class="card-details">
                            <h2 class="card__type">Plano A</h2>
                            <p class="card__price"><sup>R$</sup>599,97<sub>/Ano</sub></p>
                            <div class="card__feactures">
                                <p class="freacture">7 Robôs</p>
                                <p class="freacture">Operações</p>
                                <p class="freacture">Gerenciamento</p>
                                <p class="freacture">Suporte</p>
                            </div>
                            <button class="buy-btn">Comprar</button>
                        </div>

                    </div>


                    <div class="wrapper3">
                        <figure class="card">
                                <img src="/styles/imagensnever/Bet365.png" alt="house">



                                <figcaption>
                                    <br>
                                    <h2 id="titlecard">BET365</h2>
                                
                                </figcaption>
                                <div class="btnBuy">
                                    <button class="det-btn" onclick="viewDetalhe()">Em Breve</button>
                                </div>
                        </figure>

                        <div id="cardDetalhes" class="card-details">
                            <h2 class="card__type">Plano Blaze</h2>
                            <p class="card__price"><sup>R$</sup>447,97<sub>/Ano</sub></p>
                            <div class="card__feactures">
                                <p class="freacture">Robô</p>
                                <p class="freacture">Sinais Telegram</p>
                                <p class="freacture">Gerenciamento</p>
                                <p class="freacture">Suporte</p>
                            </div>
                            <button class="buy-btn">Comprar</button>
                        </div>
                    
            
                    
         </div>

        </div>
    


        


    </main>
    
   
</div>

</body>
</html>
