<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento | Never Loss</title>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/gerenciamento.css">

    
    
</head>
<body class="bg">


    <%- include('./menu.ejs') %>
    
    <%- include('./header.ejs') %>

    


        <main>
        
            <form action="/Gerenciamento" method="GET">

                    <!--CONTEÚDO-->

                    <div class="fluidcards">


                    <div class="rowcolumn1-cards">
                        
                        
                
                        <div class="card-first">
                        
                            <div class="titlecd">
                                <span class="titlecard">
                                    <h1>Saldo da Conta<ion-icon name="cash-outline"></ion-icon></h1>
                                </span>
                            </div>
                            <div class="searchCard">
                                <input id="btn-valueAccount" type="number" title="Saldo inicial" placeholder="Saldo">
                            </div>
                            
                    
                
                        </div>

                    
                    

                        <div class="card-first" style="position: relative; left: 25px;">

                            
                            <div class="titlecd">
                                <span class="titlecard">
                                    <h1>Meta de Lucro %</h1>
                                </span>
                            </div>
                            <div class="searchCard">
                                <input id="btn-value" type="number" title="Meta de Lucro" placeholder="Meta">
                            </div>
                            
                
                    
                
                        </div>

                        

                        


                    </div>


                    <div class="rowcolumn2-cards">


                        <div class="cardconfig">

                            
                            <div class="titlecd">
                                <span class="titlecard">
                                    <h1>Configurações<ion-icon name="construct-outline"></ion-icon></h1>
                                </span>
                            </div>
                            <div class="bodycardbtn">
                                <button type="button" onclick="calcula()" class="btn-cal"><span></span>Calcular<ion-icon name="calculator-outline"></ion-icon></button>
                                <button type="submit" class="btn-save"><span></ion-icon></span>Salvar<ion-icon name="save-outline"></ion-icon></button>
                                <button type="button" onclick="remove()" class="btn-clean"><span></ion-icon></span>Limpar<ion-icon name="close-outline"></ion-icon></button>
                            </div>


                    </div>


                    



                </div>

    
    </form>

    </main>


    <div class="row">

        <div class="table">
            <div class="table-main">
                
                    <div class="text-center">
                        <div>Simulador de Entradas</div>
                    </div>
                    <div id="titleTabelaCard">
                        <h3 style="position: relative; right: 2.4%;">Dia</h3>
                        <h3 style="position: relative; right: 3.3%;">Ganho Esperado</h3>
                        <h3 style="position: relative; right: 1%;">Lucro Esperado</h3>
                        <h3 style="position: relative; right: 2.1%;">Lucro Realizado</h3>
                        <h3 style="position: relative; right: 1.5%;">Percentual Realizado </h3>
                    </tr>
                
                </div>
        </div>

    </div>

</div>

    <div class="row">

        <div class="table">
            <table  class="table-value">
                <tbody class="tbodyT">
                    
                    
                    
                <tbody>
            </table>
        </div>

    </div>

    





    <script>




      



                window.addEventListener("load", () => {


                setTimeout(() => {


                const loader = document.querySelector(".fadeSpinner")

                loader.classList.add("fadeSpinner-hidden");

                loader.addEventListener("transitionend", () => {
                    document.body.removeChild("fadeSpinner");
                })


                }, 1000);

        });







        $(document).ready(function(){

               
                for (var i = 1; i <= 31; i++) {
                
                    


                    $('.tbodyT').append(`<tr>

                        <th>`+i+`</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th class="thInput"><input type="number"></th>
                        <th>0.00</th>

                        </tr>`);
                    
                }

        });





        function remove(){

            $('.tbodyT tr').remove();

            for (var i = 1; i <= 31; i++) {
                
                    


                $('.tbodyT').append(`<tr>

                    <th>`+i+`</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th class="thInput"><input type="number"></th>
                        <th>0.00</th>


                    </tr>`);
                
            }




        }







        function calcula(){



            if($('#btn-value').val() === '' || $('#btn-valueAccount').val() === ''){
                alert('Por favor, preencha o saldo e a meta desejada!');
                return
            }



            


            
            $('.tbodyT tr').remove();

            var meta = parseFloat($('#btn-value').val())/100;
            var lucro = parseFloat($('#btn-valueAccount').val()) * (parseFloat($('#btn-value').val())/100);
            var ganho = parseFloat($('#btn-valueAccount').val()) + lucro;


            for (var i = 1; i <= 31; i++) {


               

                $('.tbodyT').append(`<tr>

                    <th style="position: relative; left: 1.4%; border-radius: 0px">`+i+`</th>
                    <th style="border-radius: 0px">`+ganho.toFixed(2).toString().replace('.', ',')+`</th>
                    <th style="position: relative; right: 5.4%; border-radius: 0px">`+lucro.toFixed(2).toString().replace('.',',')+`</th>
                    <th style="position: relative; right: 5.8%;" class="thInput"><input id="realizado-`+ i +`" onkeyup="calculaPercentual(`+i+`)" type="number"></th>
                    <th style="border-radius: 0px; position: relative; right: 3%;" id="percent-`+ i +`">0.00</th>

                    </tr>`);


                    lucro = ganho * meta

                     ganho = ganho + lucro

                }


                
            

        }




        function calculaPercentual(v){


            if($(`#realizado-`+v+``).val() === ''){
                $(`#percent-`+v+``).html('0.00');
                return
            }
            
           var cal = parseFloat($(`#realizado-`+v+``).val())/parseFloat($('#btn-valueAccount').val()) * 100;


           $(`#percent-`+v+``).html(cal.toFixed(2));

        }








        



    </script>

    
  

</body>
</html>
