<!DOCTYPE html>
  
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Never Loss | Acesso</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>

   
    
    
    

    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/login.css">

    <!----======== Forms ======== -->


    
    
</head>
<body class="bg">


    

        <div class="container">
            
            <div class="formlogin">

                
                
                <form action="/login" method="POST" class="formulario"  id="login-form">
                    <div id="logologin" class="logologin">
                        <img id="imagemLogo" src="/styles/imagensnever/logoneverloss.png" alt="">
                    </div>
                    <div class="titlelogin">
                        <h1>Acesse sua conta</h6>
                    </div>
                    <% if(message) { %>
                    <script>
                        $('#messageid').css("visibility", "visible")
                        $('#imagemLogo').css("top", "0px")
                        $('.titlelogin').css("top", "0px")
                        setTimeout(() => {
                            $('#messageid').css("visibility", "hidden")
                            $('#imagemLogo').css("top", "50px")
                            $('.titlelogin').css("top", "50px")
                        }, "4000")
                    </script>
                    <div class="messageinvalid" id="messageid">
                        <span><h4>E-mail ou senha inválida!</h4></span>
                    </div>
                    <%}%>
                    <div class="labeluser">
                        <label for="user">E-mail</label>
                    </div>
                    <div class="userlogin">
                        <div class="subuser">
                            <input id="username" type="text" title="Digite seu e-mail" placeholder="Digite seu E-mail" name="username"  required oninvalid="this.setCustomValidity('Preencha seu e-mail')" onchange="try{setCustomValidity('')}catch(e){}">
                        </div>
                    </div>
                    <div class="labelpassword">
                        <label for="user">Senha</label>
                    </div>
                    <div class="userpassword">
                        
                        <input id="inputpassword" type="password" title="Digite sua senha" placeholder="Digite sua senha" name="password"  required oninvalid="this.setCustomValidity('Preencha sua senha')" onchange="try{setCustomValidity('')}catch(e){}">
                        <span><ion-icon id="iconpassword" name="eye-outline" onclick="mostrar()"></ion-icon></span>
                    </div>
                    <div class="btnlogin">
                        <button type="submit" id="btnRequest" class="btn-entrar">Entrar</button>
                        <span><h5>Esqueci minha senha</h5></span>
                    </div>
                    
                </form>

                
            </div>
            <div class="imglogin">
                <img src="/styles/imagensnever/empresa2.png" alt="">
            </div>
        </div>












</body>
</html>
