<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inteligência Artificial | Never Loss</title>
    <link rel="stylesheet" href="/styles/NLBot.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/styles/ProdJs/NLBot.js"></script>
    <script type="text/javascript" src="/styles/ProdJs/NLForms.js"></script>
</head>
<body>

    
    
   
    
    <div class="main">


        

    
        <div class="content">
            

            
            
                <div class="rowcards">

                    <div class="conteudo">
                    
                    <div class="row" onclick="callBot(3)">
                        <div class="cardbot">
                            <div class="bodycardbot">
                                <div class="dobble">
                                    <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                    <h4>CORAL</h4>
                                </div>
                                

                            </div>
                        </div>

                    </div>

                    
                    <div class="row">

                        <div class="cardbot" onclick="callBot(1)">
                            <div class="bodycardbot">

                                <div class="dobble">
                                    <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                    <h4>DIAMANTE</h4>
                                </div>
                                
                            </div>
                        </div>

                    </div>

                    <div class="row" onclick="callBot(7)">

                        <div class="cardbot">
                            <div class="bodycardbot">

                                <div class="dobble">
                                    <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                    <h4>SAFIRA</h4>
                                </div>
                                
                            </div>
                        </div>
                    </div> 

                    <div class="row" onclick="callBot(2)">

                        <div class="cardbot">
                            <div class="bodycardbot">

                                <div class="dobble">
                                    <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                    <h4>ESMERALDA</h4>
                                </div>
                                
                            </div>
                        </div>

                    </div>

                        

                        <div class="row" onclick="callBot(5)">

                            <div class="cardbot">
                                <div class="bodycardbot">

                                    <div class="dobble">
                                        <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                        <h4>OURO</h4>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                        <div class="row" onclick="callBot(4)">

                            <div class="cardbot">
                                <div class="bodycardbot">

                                    <div class="dobble">
                                        <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                        <h4>PRATA</h4>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                        <div class="row" onclick="callBot(6)">

                            <div class="cardbot">
                                <div class="bodycardbot">

                                    <div class="dobble">
                                        <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                        <h4>JADE</h4>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

        

            
            <!--
            
            <div id="logo" class="logo">
                <img id="imagemLogo" src="/imagensnever/logoneverloss.png" alt="">
            </div>

            -->

                
                <div class="box">
                    <div class="tableBot">

                        <div class="rowContent">
                            <span class="connect">
                                <a href="https://oauth.binary.com/oauth2/authorize?app_id=32595"> <Button class="btn-connect">
                                    Conectar-se na Corretora
                                </Button></a>
                               <Button class="btn-connect-desc" onclick="">
                                    Desconectar
                                </Button>
                            </span>
                            <div class="areaBtnTop">
                                <span class="Saldo">
                                    <div class="titleSaldo">
                                         <h4>Saldo</h4>
                                    </div>
                                    <div class="CountValues">
                                         <h4>$ 0.00</h4>
                                     </div>
                                 </span>
                                <span class="l-p">
                                   <div class="valueUp">
                                        <h4>Lucro/Perda</h4>
                                   </div>
                                   <div class="CountUp">
                                        <h4>$ 0.00</h4>
                                    </div>
                                </span>
                            </div>
                        </div>

                        <div class="rowtwoContent">
                            <span class="selectBot">
                                <div class="CountOperacoes">
                                    <select name="bot" id="botSelecione">
                                    </select>
                                </div>
                            </span>
                            <span class="BotName">
                                <div class="botEscolha">
                                    <img src="/styles/imagensnever/icon-1.8s-209px.svg" alt="Bots">
                                </div>
                            </span>
                            <span class="operacoes">
                                <div class="CountOperacoes">
                                    <h6>Operações:</h6><h5 style="color: #20b813;" id="won">0</h5><h5>●</h5><h5 style="color: #ff0000;" id="lost">0</h5>
                                </div>
                            </span>
                        </div>

                        <div class="progressBot">
                            <span class="baseprogressBot">
                                <div class="titleProgress">
                                    <h6>Tentando Comprar</h6>
                                    <h6>Compra bem-sucedida</h6>
                                    <h6>Contrato fechado</h6>
                                </div> 
                                <div class="lineProgress"> 
                                    
                                        <div class="startProgress">
                                            <span class="static-circle" id="circle1"></span>
                                            
                                        </div>
                                        <div class="middleProgress">
                                            <span class="static-circle" id="circle2"></span>
                                            
                                        </div>
                                        <div class="endProgress">
                                            <span class="static-circle" id="circle3"></span>
                                            
                                        </div>

                                </div>  

                                <div class="rowLine">
                                    <div class="line">
                                        <div class="progress-bar"></div>
                                    </div>
                                     <div class="lineStatic">
                                        <div class="progress-bar"></div>
                                    </div>
                                 </div>
                                
                            </span>
                        </div>

                         
                        <div class="content-row">

                            <div class="spacediv"></div>                     
                            <div class="summary-toolbox">
                              <button onclick="esconderplay(), entrada()" title="Iniciar o robô" id="summaryRunButton" class="toolbox-button icon-run"><img id="iconplay" src="/styles/imagensnever/playBotPlay.svg"></button>
                              <button onclick="showplay()" hidden title="Parar o robô" id="summaryStopButton" class="toolbox-button icon-stop"><img id="iconstop" src="/styles/imagensnever/stopBotSvg.svg"></button>
                            </div>
                        
                            <div class="clean">
                                <button class="btnClean" >
                                    <a href="/NLBot"><img  id="iconTrash" src="/styles/imagensnever/IconTrashBot.svg"></a>
                                </button>
                            </div>  
                          </div>


                          <div class="tableProfit">
                                <span class="bodyTitle">

                                    <div class="dataHora">
                                        <div class="titleDataMain">
                                            <h6>Data</h6>
                                        </div>
                                    </div>

                                    <div class="Refer">
                                        <div class="titleReferMain">
                                            <h6>Referência</h6>
                                        </div>
                                    </div>
                                    <div class="Prohibited">
                                        <div class="titleProhibitedMain">
                                            <h6>Entrada</h6>
                                        </div>
                                    </div>
                                    <div class="exit">
                                        <div class="titleExitMain">
                                            <h6>Saída</h6>
                                        </div>
                                    </div>
                                    <div class="preco">
                                        <div class="titlePrecoMain">
                                            <h6>Preço</h6>
                                        </div>
                                    </div>
                                    <div class="resultado">
                                        <div class="titleResultadoMain">
                                            <h6>Resultado</h6>
                                        </div>
                                    </div>

               
                                </span>


                                <div class="bodyTable">

                                    <div class="dataHoraTable">
                                        <div class="titleData">
                                            
                                        </div>
                                    </div>

                                    <div class="ReferTable">
                                        <div class="titleRefer">

                                        </div>
                                    </div>
                                    <div class="ProhibitedTable">
                                        <div class="titleProhibited">
                                            
                                        </div>
                                    </div>
                                    <div class="exitTable">
                                        <div class="titleExit">
                                            
                                        </div>
                                    </div>
                                    <div class="precoTable">
                                        <div class="titlePreco">
                                            
                                        </div>
                                    </div>
                                    <div class="resultadoTable">
                                        <div class="titleResultado">
                                           
                                        </div>
                                    </div>

                                    
                                </div>
                                



                
                          </div>

                         
                        
                         

                    </div>

                </div>
                
            

        </div>

        <div class="scene">
            <div class="rocket">
                <img src="/styles/imagensnever/rocket.png" alt="">
            </div>
        </div>


    </div>

</embed>
    

    <script>

        function stars(){
            var count = 50;
            let scene = document.querySelector('.scene');
            var i = 0;
            while(i < count){
                let star = document.createElement('i');
                let x = Math.floor(Math.random() * window.innerWidth);
                let duration = Math.random() * 1;
                let h = Math.random()*100;

                star.style.left = x + 'px';
                star.style.width = 1 + 'px';
                star.style.height = h + 'px';
                star.style.animationDuration = duration + 's';

                scene.appendChild(star);
                i++;
            }

            
        }


        $( document ).ready(function() {
            $('#summaryStopButton').hide();
            $('.btn-connect-desc').hide()

            

            
        });



      


        




        function esconderplay(){

            $('#summaryRunButton').hide();
            $('#summaryStopButton').show();
            $('.box::before').addClass('ativar');
            $(".rocket").addClass('animar');
            stars();
            $(".tableBot").addClass('sombrafixa');
            $(".box").css("opacity", 1);
            


            }

            function showplay(){
            $('#summaryStopButton').hide()
            $('#summaryRunButton').show()
            $(".rocket").removeClass('animar');
            $('.box::before').removeClass('ativar');
            $(".scene i").remove();
            $(".tableBot").removeClass('sombrafixa');
            $(".box").css("opacity", 0.7);


            }


            $( document ).ready(function() {

                
                ajaxDados('/connectData','', '', 'ResultConnect')



                
                
            });


            function ResultConnect(data){


                dados = data[0];

                if(dados.error != ''){

                    $('.btn-connect-desc').hide()
                    $('.btn-connect').show()
                

                }else{

                    $('.btn-connect').hide()
                    $('.btn-connect-desc').show()
                    
                }



            }







            function Desconectar(){

                
                ajaxDados('/disconnect', '', '', 'retornoDisconnect');

            }


            function retornoDisconnect(){

                window.location.href= "https://neverloss.herokuapp.com/NLBot";

            }

          







           
    </script>











       
    
</body>
</html>