<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamentos | Never Loss</title>
    
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/treinamentos.css">

    
    
</head>
<body class="bg">

    
    <%- include('./menu.ejs') %>

    <%- include('./header.ejs') %>
        
   



        <!--CONTEÚDO-->
        <div class="div-centerbody">
            
            
      
            <div class="cardplay">
            
                <img class="imagemBreve" width="560" height="315" src="/styles/imagensnever/breve.jpg" title="video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        
                <div class="concluir">
                    <button class="btn-finish"><span><ion-icon name="checkmark-circle-outline"></ion-icon></span>AULA CONCLUÍDA</button>
                </div>
    
            </div>

           

 

        <div class="divplay-right">

            <div class="card-progress">

                <div class="row-percent">
                    <h1>Você completou</h1><span><b>0%</b></span>
                </div>
                <div class="barra">
                    <div class="row-progressbar">
                        <div class="progressbar"></div>
                    </div>
                </div>
                <div class="btn-progress">
                    <button type="button" aria-describedby="trash-desc">Reiniciar Progresso</button>
                    
                </div>
                <div class="search">
                    <form class="" action=""></form>
                        <input id="pesquisa-aula" type="text" title="Pesquisa de aula" placeholder="Pesquisar Aula">
                        <span><button><ion-icon name="search-outline"></ion-icon></button></span>
                </div>
    
        
    
            </div>


            <aside class="cardlist-aula">
            
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                       
                        <h1 class="text-module">Introdução/Conceitos</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                       
                        <h1 class="text-module">Conhecendo a Plataforma</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Configurações dos Bots</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                       
                        <h1 class="text-module">Aplicando o Gerenciamento</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Avisos na Plataforma</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Suporte Dedicado</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Termos e Condições</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                       
                        <h1 class="text-module">Introdução/Conceitos</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Introdução/Conceitos</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Introdução/Conceitos</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="item-aula">
                    <button type="button" class="item-aula-btn">
                        
                        <h1 class="text-module">Introdução/Conceitos</h1>
                        <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                    </button>
                </div>
        
    
            </aside>

            


        </div>

        


    </div>



    
    



    
      
            
    
     
  
    


</main>


    
    

    

  


       
        <script>



            
                window.addEventListener("load", () => {


                setTimeout(() => {


                const loader = document.querySelector(".fadeSpinner")

                loader.classList.add("fadeSpinner-hidden");

                loader.addEventListener("transitionend", () => {
                    document.body.removeChild("fadeSpinner");
                })


                }, 1000);

                });


        </script>





</body>
</html>
