<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Never Loss</title>



    
    <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
    <script type="text/javascript" src="/styles/ProdJs/NLForms.js"></script>

    

    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/user.css">

    
    
</head>
<body class="bg">

    
    <%- include('./menu.ejs') %>
    
    <%- include('./header.ejs') %>



   

    <form action="/AtualizaUsuario"  method="post" enctype="multipart/form-data">
            <div class="cardUser">
                <div class="card">

                            <% if(messageSucesso.length > 0) { %>

                                <script>
                                    $('#messageid').css("visibility", "visible")
                                    $('#imagemLogo').css("top", "0px")
                                    $('.titlelogin').css("top", "0px")
                                    setTimeout(() => {

                                        $('.updateSuccess').remove()
                                        
                                    }, "3000")
                                </script>
                                <div class="updateSuccess">
                                    <div class="messageinvalid" id="messageid">
                                        <span><h4 >Cadastro atualizados!</h4></span>
                                    </div>
                                </div>

                            <%}%>
                    
                            <div class="card-body-first">

                                

                            
                                    <div class="row">
                                        <div class="imgUser">
                                            <input  type="file" id="filename" name="file" class="dropify" data-height="250" data-default-file="/styles/imagensnever/usuariopadrao.png" data-allowed-file-extensions="png jpeg jpg gif enc"/>
                                            <h2>Foto</h2>
                                        </div>
                                        
                                        <div class="rowContent">
                                            <div class="namesUser">
                                                <label class="formUser" for="nameUser">Nome</label>
                                                <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo." >
                                            </div>

                                            <div class="rowPhone">
                                                <div class="namesUser">
                                                    <label class="formUser" for="nameUser">Telefone</label>
                                                    <input type="text" id="telefone" name="telefone" placeholder="Digite o número.">
                                                </div>
                                                <div class="namesUser">
                                                    <label class="formUser" for="nameUser">Celular</label>
                                                    <input type="text" id="celular" name="celular" placeholder="Digite o número.">
                                                </div>
                                            </div>

                                            <div class="rowPhone">
                                                <div class="namesUser">
                                                    <label class="formUser" for="nameUser">CPF</label>
                                                    <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF.">
                                                </div>
                                                <div class="namesUser">
                                                    <label class="formUser"for="nameUser">Data de Nascimento</label>
                                                    <input type="date"  id="dataNascimento" name="data" >
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>


                        </div>


                                <div class="card-body-last">
                                    <div class="rowCompl">
                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">E-mail</label>
                                            <input type="text" id="email" name="email" placeholder="Digite seu E-mail." style="cursor: not-allowed;" disabled>
                                        </div>
                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">Nova Senha</label>
                                            <input type="text" name="senha"  placeholder="Deixe em branco caso não queira mudar." >
                                        </div>
                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">Confirmar Senha</label>
                                            <input type="text" name="confirmaSenha" placeholder="Deixe em branco caso não queira mudar." >
                                        </div>
                                    </div>
                                </div>


                                <div class="card-body-last">
                                    <div class="rowCompl">
                                        
                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">Nickname</label>
                                            <input type="text" id="nickname" name="nickname" placeholder="Digite seu Nickname.">
                                        </div>

                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">Endereço</label>
                                            <input type="text" id="endereco" name="endereco" placeholder="Digite seu Endereço.">
                                        </div>
                                        
                                        <div class="namesUser">
                                            <label class="formUser" for="nameUser">Validade da Conta</label>
                                            <input type="text" id="dataValidade" placeholder="17-11-2023" style="cursor: not-allowed;" disabled>
                                        </div>
                                    </div>
                                </div>

                            
                                
                                    <div class="btnUpdate">
                                        
                                        <div class="update">
                                            <button type="button" class="btn-finish" onclick="window.open(document.referrer,'_self');"><span><ion-icon name="return-up-back-outline"></ion-icon></span>Voltar</button>
                                        </div>

                                        <div class="update">
                                            <button type="submit" class="btn-finish"><span><ion-icon name="checkmark-outline"></ion-icon></span>Atualizar</button>
                                        </div>

                                    </div>


                                   

                                </form>

                            </div>
                        </div>
                    </div>
                


        

    


    </main>



    


    


    
    

    

    <script>
        
               

        $('.dropify').dropify({
            messages: {
                        'default': 'Arraste e solte ou clique',
                        'replace': 'Arraste e solte ou clique para substituir',
                        'remove':  'Remover',
                        'error':   'Ops, verifique o formato do arquivo.'
                    }
        });




        $( document ).ready(function() {

            ajaxDados('/DadosCadastro', '', '', 'preencheFomulario')

        });



        function preencheFomulario(data){


              
              $('#nome').val(data[0].nome);
              $('#telefone').val(data[0].telefone)
              $('#celular').val(data[0].celular)
              $('#cpf').val(data[0].cpf)
              $('#dataNascimento').val(data[0].dataNascimento)
              $('#email').val(data[0].email)
              $('#nickname').val(data[0].nickname)
              $('#endereco').val(data[0].endereco)
              $('#dataValidade').val(data[0].dataValidade)


        }
        
                

    </script>


       



    



</body>
</html>
