<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/validation.css">
    
    <script type="text/javascript" src="/styles/ProdJs/NLForms.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>



</head>
<body>


    


    <div class="loader">Loading...</div>


    <script>


        $( document ).ready(function() {
            const queryString = window.location.search;


            const urlParams = new URLSearchParams(queryString);
            const DsTokenOne = urlParams.get('token1');
            const DsTokenTwo = urlParams.get('token2');


            
                
                
        ajaxDados('/AtualizaToken','{token1: '+ DsTokenOne + ', token2: '+ DsTokenTwo + '}', '', 'resultToken')

            
    

        });


        function resultToken(data){

            window.location.href("/NLBot");

        }


    </script>



    
</body>
</html>