/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2c47be;
    --primary-color-light: #b5b4b8;
    --toggle-color: #DDD;
    --text-color: #707070;
    --clr: #222327;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}




body, html{
    height: 100%;
    margin: 0;
    
}




body::-webkit-scrollbar {
    width: 17px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(251, 252, 253);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #707070;   
    border-radius: 20px;       
    border: 3px solid rgb(250, 250, 252);  
  }




.bg{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}




 
 
 
 .fadeSpinner{
 
     display: flex;
     position: fixed;
     justify-content: center;
     align-items: center;
     background-color: #020220;
     z-index: 1000;
     transition: opacity 0.75s, visibility 0.75s;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
 
 .fadeSpinner-hidden{
     opacity: 0;
     visibility: hidden;
 }
 
 .containerSpinner{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 
 .ring{
     width: 200px;
     height: 200px;
     border: 0px solid #0d0424f5;
     border-radius: 50%;
     position: absolute;
 }
 
 
 .ring:nth-child(1){
     border-bottom-width: 8px;
     border-color: #45f3ff;
     animation: rotate1 2s linear infinite;
 }
 
 .ring:nth-child(2){
     border-right-width: 8px;
     border-color: #45f3ff;
     animation: rotate2 2s linear infinite;
 }
 
 
 .ring:nth-child(3){
     border-top-width: 8px;
     border-color: #45f3ff;
     animation: rotate3 2s linear infinite;
 }
 
 .carregando{
     color: #45f3ff;
     font-weight: bold;
 }
 
 
 @keyframes rotate1{
     0%{
         transform: rotateX(35deg) rotateY(-45) rotateZ(0deg);
     }
     100%{
         transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
     }
 }
 
 
 @keyframes rotate2{
     0%{
         transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
     }
     100%{
         transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
     }
 }
 
 
 @keyframes rotate3{
     0%{
         transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
     }
     100%{
         transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
     }
 }




 @media (min-width: 10px) and (max-width: 1064px) {
    

            
        .container{

            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            box-shadow: 5px 5px 10´x rgba(0, 0, 0, .212);
        }



        .formlogin{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0d0424f5;
            background-image: linear-gradient(115deg, rgb(18, 8, 32), rgb(2, 1, 31));
            
        }





        .imglogin{
            width: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            
        
        
        }
        
        
        .imglogin img{
            width: 100%;
            height: 100%;
            filter: brightness(60%); 
            
        
        }


        .titlelogin{
            color: #FFF;
            padding: 0px 0px 30px 0px;
            font-size: 8px;
            position: relative;
            top: 15px;
        }



        #username{

            border: none;
            background-color: #75757549;
            padding: 12px 20px 14px;
            font-weight: bold;  
            font-size: 9px;
            border-radius: 10px;
            width: 100%;
            color: #FFF;
        }



        #inputpassword{

            border: none;
            background-color: #75757549;
            padding: 12px 20px 14px;
            font-weight: bold;  
            font-size: 9px;
            border-radius: 10px 0px 0px 10px;
            width: 100%;
            color: #FFF;
        }
        
        
        #inputpassword:hover{
        
            color: #FFF;
            
        }



        .labeluser{
            color: #FFF;
            font-size: 10px;
            padding: 0px 0px 10px 0px;
        }
        
        
        .labelpassword{
            color: #FFF;
            font-size: 10px;
            padding: 25px 0px 10px 0px;
        }



        .formulario{
            width: 80%;
            padding: 20px;
            position: relative;
            bottom: 30px;
        }


        .logologin img{
            width: 80px;
            border-radius: 20px;
            margin-bottom: 15px;
            position: relative;
            top: 15px;
        }



        .btnlogin{
            position: relative;
            display: flex;
            align-items: center;
            top: 37px;
            align-content: space-between;
        }
        
        
        
        .btnlogin span{
            position: relative;
            left: 13%;
        }
        
        
        .btnlogin h5{
            color: #9a98a0;
            cursor: pointer;
            transition: 0.5s;
            font-size: 12px;
        }
        
        
        .btnlogin h5:hover{
            
            color: #FFF;
            
        }
        


                    
            .btn-entrar{
                border: none;
                border-radius: 10px;
                border-color: #112a9b;
                cursor: pointer;
                transition: 0.5s;
                font-size: 12px;
                font-weight: bold;
                position: relative;
                width: 30%;
                height: 40px;
                color: #041666;

            }



            .btn-entrar:hover{
                background-color: #75757549;
                color: #FFF;
                
                }



                .messageinvalid{
                    position: relative;
                    display: flex;
                    align-content: center;
                    bottom: 20px;
                }
                
                
                
                .messageinvalid span{
                    background-color: #8b1230;
                    border-radius: 10px;
                }
                
                
                .messageinvalid h4{
                    padding: 10px;
                    color: #01092c;
                    font-size: 10px;
                }
                





  }



  @media (min-width: 1065px) and (max-width: 4000px) {
    

    
    .container{
        
        width: 100%;
        height: 100%;
        display: flex;
        box-shadow: 5px 5px 10´x rgba(0, 0, 0, .212);
        
    }



    .formlogin{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0d0424f5;
        background-image: linear-gradient(115deg, rgb(18, 8, 32), rgb(2, 1, 31));
        padding: 1rem;
    }





    .imglogin{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    
    }
    
    
    .imglogin img{
        width: 100%;
        height: 100%;
        filter: brightness(60%); 
        
    
    }


    .titlelogin{
        color: #FFF;
        padding: 0px 0px 30px 0px;
        font-size: 15px;
        position: relative;
        top: 15px;
    }


    #username{

        border: none;
        background-color: #75757549;
        padding: 12px 20px 14px;
        font-weight: bold;  
        font-size: 11.5px;
        border-radius: 10px;
        width: 100%;
        color: #FFF;
    }




    #inputpassword{

        border: none;
        background-color: #75757549;
        padding: 12px 20px 14px;
        font-weight: bold;  
        font-size: 12px;
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        color: #FFF;
    }
    
    
    #inputpassword:hover{
    
        color: #FFF;
        
    }




    .labeluser{
        color: #FFF;
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }
    
    
    .labelpassword{
        color: #FFF;
        font-size: 14px;
        padding: 25px 0px 10px 0px;
    }



    .formulario{
        width: 45%;
        position: relative;
        bottom: 30px;
        left: 10%;
    }


    .logologin img{
        width: 100px;
        border-radius: 20px;
        margin-bottom: 15px;
        position: relative;
        top: 15px;
    }



    .btnlogin{
        position: relative;
        display: flex;
        align-items: center;
        top: 37px;
        align-content: space-between;
    }
    
    
    
    .btnlogin span{
        position: relative;
        left: 27%;
    }
    
    
    .btnlogin h5{
        color: #9a98a0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    
    .btnlogin h5:hover{
        
        color: #FFF;
        
    }


    
.btn-entrar{
    border: none;
    border-radius: 10px;
    border-color: #112a9b;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    width: 23%;
    height: 40px;
    color: #041666;

}



.btn-entrar:hover{
    background-color: #75757549;
    color: #FFF;
    
    }



    .messageinvalid{
        position: relative;
        display: flex;
        align-content: center;
        bottom: 20px;
    }
    
    
    
    .messageinvalid span{
        background-color: #8b1230;
        border-radius: 10px;
    }
    
    
    .messageinvalid h4{
        padding: 10px;
        color: #01092c;
    }
    
    
    
    
}














.userlogin{
    padding: 0px;
}









.userpassword span{
    background-color: #75757549;
    font-size: 30px;
    border-radius: 0px 10px 10px 0px;
}

.userpassword{
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.userpassword ion-icon{
    display: flex;
    position: relative;
    padding: 6px;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    color: #9a98a0;
}



.userpassword ion-icon:hover{

    color: #FFF;
    
}


.userpassword input:focus{
    outline: 0;
}


.userlogin input:focus{
    outline: 0;
}

































    

















